.verify-email-wrapper{
    width: 476px;
    height: 312px;
    margin: auto;

   
 .otp{
    margin: auto;
    height: 118px;
    display: flex;
    }

    // .form-input{

    //     &:focus{
    //         background-color: aliceblue;
    //     }
    // }
}