$sub-color: grey;
$main-color: black;


.group {
  position: relative;
  margin: 25px 0;
  font-weight: bold;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: 1px solid gray;
    border-radius: 9999px;
    border-bottom: 1px solid $sub-color;
    margin-top: 10px;

    // &:focus {
    //   outline: none;
    // }

    
  }
 

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: bold;
  
    padding-top: 30px;
    left: 5px;
    top: 10px;
    
  }

}
