.password-input-group {
    margin-bottom: 15px;
    width: 420px;
  }
  .password-input-group label{
   font-weight: bold;
  }

  .password-input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .form-control {
    width: calc(100% - 50px);
    padding: 8px;
    box-sizing: border-box;
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: 1px solid gray;
    border-radius: 9999px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    

  }
  
  
  .password-toggle-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding-top: 13px;
    font-size: 14px;
    position: relative;
    right: 60px;
    color: grey
  }

  .pass-text{
    color: gray;
    position: absolute;
   width: 350px;
   display: block;
    font-size: 11px;
    padding-left: 10px;
  }